<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Barney's</title>
    <script src="js/materialize.min.js"></script>
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
<!-- Header and Logo -->
<div>
    <nav>
        <div class="nav-wrapper">
            <a href="" class="brand-logo center-align">Barney's Book Store</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/bookstore/logout">Log out</a></li>
                <li><a href="">Account</a></li>
                <li><a href="">Shopping Cart</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- List of Products -->
<div class="row blue-grey lighten-1">
    <!-- Left bar-->
    <div class="col s3 ">
        <div class="row ">
            <div class="container grey lighten-2">
                <blockquote>Welcome Dinesh</blockquote>
            </div>
        </div>

    </div>
    <!-- Right bar -->
    <div class="col s9">

        <table class="striped highlight responsive-table teal lighten-1">
            <thead>
            <tr>
                <th:block Book Id/>
                <th:block Cover/>
                <th:block Book Name/>
                <th:block Price/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${books}">
                <td th:text="${book.bookId}">Id</td>
                <td><img class="z-depth-5 responsive-img materialboxed" width="50" th:src="@{${book.image}}">Cover
                </td>
                <td th:text="${book.bookName}">Name</td>
                <td th:text="${book.price}">Price</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>