
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ff4j="http://www.ff4j.org/taglibs/ff4j"
      lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Barney's</title>
    <script src="js/materialize.min.js"></script>
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
<!-- Header and Logo -->
<div th:replace="fragments/header :: header"/>
<!-- Dicount bar -->
<div th:replace="fragments/discount :: discount"/>
<!-- List of Products -->
<div class="row blue-grey lighten-1">
    <!-- Left bar-->
    <div th:replace="fragments/leftbar :: leftbar"/>
    <!-- Right bar -->
    <div class="col s9">
        <table class="striped highlight responsive-table teal lighten-1">
            <thead>
            <tr>
                <th:block Book Id/>
                <th:block Cover/>
                <th:block Book Name/>
                <th:block Price/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${books}">
                <td th:text="${book.bookId}">Id</td>
                <td><img class="z-depth-5 responsive-img materialboxed" width="50" th:src="@{${book.image}}">Cover
                </td>
                <td th:text="${book.bookName}">Name</td>
                <td th:text="${book.price}">Price</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>